<h1 class="text-center text-primary ">PROYECTO</h1>
<p>
  En la actualidad, podemos encontrar muchos artículos y publicaciones
  científicas en la red sobre los distintos tipos de cáncer escritas y
  publicadas por oncólogos latinoamericanos, esto implica que no podemos
  conocer de manera exacta la cantidad de publicaciones por año o tipo de
  cáncer que realiza cada autor o institución. La solución propuesta
  consiste en buscar de manera continua y confiable las publicaciones
  científicas sobre los distintos tipos de cáncer en toda la red,
  almacenar cada enlace Web y su información básica (autor, país de
  publicación, DOI, tipo de cáncer, año) además de visualizar las
  publicaciones de interés para cada usuario incluyendo estadísticas
  de sus aportaciones. .
</p>

<h1 class="text-center text-primary ">EQUIPO DE TRABAJO</h1><br>
<div class="row">
  <div class="col-sm ">
    <div class="card text-center bordes" style="width: 18rem;"><br>
      <img src="../assets/desarrolladores/daniel.jpg" alt="Avatar" class="avatar rounded-circle">
      <div class="card-body">
        <h5 class="card-title">Daniel Fernando Perez Sarmiento</h5>
        <p class="card-text">Forma parte de un equipo de trabajo organizado por proyecto o por práctica donde cada uno asume la responsabilidad de 
          resolver en tiempo y con calidad su parte, teniendo que satisfacer pruebas de conjunto y pidiendo o 
          brindando colaboración cuando se encuentran problemas. En empresas donde se trabaja con objetivos y medidas de productividad, es posible el teletrabajo.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm ">
    <div class="card text-center bordes" style="width: 18rem;"><br>
      <img src="../assets/desarrolladores/moises.jpg" alt="Avatar" class="avatar rounded-circle">
      <div class="card-body">
        <h5 class="card-title">Moises Escobar Martinez</h5>
        <p class="card-text">Forma parte de un equipo de trabajo organizado por proyecto o por práctica donde cada uno asume la responsabilidad de 
            resolver en tiempo y con calidad su parte, teniendo que satisfacer pruebas de conjunto y pidiendo o 
            brindando colaboración cuando se encuentran problemas. En empresas donde se trabaja con objetivos y medidas de productividad, es posible el teletrabajo.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm ">
    <div class="card text-center bordes" style="width: 18rem;"><br>
      <img src="../assets/desarrolladores/david.jpg" alt="Avatar" class="avatar rounded-circle">
      <div class="card-body">
        <h5 class="card-title">David Cabrera Montes</h5>
        <p class="card-text">Forma parte de un equipo de trabajo organizado por proyecto o por práctica donde cada uno asume la responsabilidad de 
            resolver en tiempo y con calidad su parte, teniendo que satisfacer pruebas de conjunto y pidiendo o 
            brindando colaboración cuando se encuentran problemas. En empresas donde se trabaja con objetivos y medidas de productividad, es posible el teletrabajo.
        </p>
      </div>
    </div>
  </div>
</div><br><br>
<!--  -->